<footer>

    {% assign pages = collections.all | eleventyNavigation %}
    <ul id="site-nav">
        {% for entry in pages %}
        <li{% if entry.url == page.url %} class="active"{% endif %}>
            <a href="{{ entry.url }}">{{ entry.title }}</a>
        </li>
        {% endfor %}
    </ul>

</footer>