<ul class="ring__links subtle-list">
  <li>
    <a class="ring__nav" rel="external" referrerpolicy="strict-origin" href="/prev">
      {% svg 'arrow-left' %}
      <span>Previous website</span>
    </a>
  </li>
  <li>
    <a class="ring__nav" rel="external" referrerpolicy="strict-origin" href="/random">
      {% svg 'shuffle' %}
      <span>Random website</span>
    </a>
  </li>
  <li>
    <a class="ring__nav" rel="external" referrerpolicy="strict-origin" href="/next">
      {% svg 'arrow-right' %}
      <span>Next website</span>
    </a>
  </li>
</ul>