<ul>
  <li>
    <a  rel="external" referrerpolicy="strict-origin" href="/prev">
      <span>Previous website</span>
    </a>
  </li>
  <li>
    <a rel="external" referrerpolicy="strict-origin" href="/random">
      <span>Random website</span>
    </a>
  </li>
  <li>
    <a rel="external" referrerpolicy="strict-origin" href="/next">
      <span>Next website</span>
    </a>
  </li>
</ul>