*,
:after,
:before {
    box-sizing: border-box;
    background-color: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}

html {
  min-height: 100%;
  overflow-y: scroll;
  text-size-adjust: 100%;
}

body {
  font-family: var(--font-primary);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  line-height: 1.5;
  font-size: 1.3rem;
  color: var(--color-primary);
  background: var(--color-secondary);
}

button {
  cursor: pointer;
}

a {
  color: var(--color-primary);
  text-underline-offset: 4px;

  &:visited {
    color: var(--color-primary);
  }

  &:hover {
    text-decoration: none;
  }
}

pre {
  overflow: auto;
  hyphens: none;
  tab-size: 4;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
}

code {
  user-select: all;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}