:root {
    --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

*,
:after,
:before {
    box-sizing: border-box;
    background-color: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--system-ui);
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    line-height: 1.5;
    font-size: 1rem;
}

main {
    display: grid;
}

.home {
    .grid {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 100vh auto auto auto auto auto;
        grid-template-areas:
        "title   title   nav" 
        "members members toc" 
        "join    join    toc" 
        "embed   embed   embed" 
        "faq     faq     faq" 
        "footer  footer  footer";
    }

    .grid .grid--title {
        grid-area: title;
    }

    .grid .grid--nav {
        grid-area: nav;
    }
 
}

.centered {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}