<!doctype html >
<html lang="en-US">
    {% include 'partials/head' %}
<body class="{{ class | join: " " }} h-screen bg-scondary-50 text-xl">
    {{ content }}
    {% include 'partials/footer' %}
</body>
</html>