<!doctype html >
<html lang="{{ site.locale }}">
    {% include 'partials/head' %}
<body class="{{ class | join: " " }}">
    {% svgsprite %}
    <main class="home__grid flow">
        {{ content }}
    </main>
    {% include 'partials/footer' %}
</body>
</html>