<!doctype html >
<html lang="{{ ring.locale }}">
    {% include 'partials/head' %}
<body class="{{ class | join: " " }} page">
    <main>
        <h1>{{ title }}</h1>
        {{ content }}
    </main>
    {% include 'partials/footer' %}
</body>
</html>